#icon {
    width: 20%;
}
.icon_bar {
    height: 55px;
}

.logout_icon{
    height: 30px;
}

nav{
    margin-bottom: 20px;
}
li{
    padding: 12px 14px;
}

li:hover{
    background-color: #ddd;
    color: black;
}

li:active{
    background-color: #D3D3D3;
}
