#formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px;
    margin-bottom: 80px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

button[type=submit]{
    background-color: #383d41;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(100,100,100,0.9);
    box-shadow: 0 10px 30px 0 rgba(100,100,100,0.9);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;

}

button[type=submit]:hover{
    background-color: #383d41;
}

button[type=submit]:active{
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    outline: none;
}

input {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
}


input:focus {
    background-color: #fff;
    border-bottom: 2px solid #383d41;
}

input::placeholder {
    color: #383d41;
}

.underlineHover:hover:after {
    width: 100%;
}

*:focus {
    outline: none;
}

