#icon {
    width:20%;
}
/*Css for navigation bar*/

.icon_bar {
    height: 40px;
}

.list{
    font-size: 14px;
}
.list:active{

}
body{
    background-size: contain;
    align-items: center;
    background: url("../img/background.jpg");
}