{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="/css/Connection_Login.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">

    {% endblock %}

{% block body %}
    <header>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <img src="/Image/Login_icon.png" id="icon" alt="User Icon"/>
                </div>

                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <div id="formFooter">
                    <a class="underlineHover" id="aa" href="{{ path('app_signup_create') }}">Nouvelle Utilisateur</a>
                </div>

            </div>
        </div>
    </header>


{% endblock %}