{% extends 'baseUser.html.twig' %}
    {% block head %}
    {% block stylesheets %}
        <link href="{{ asset('assets/css/exercice.css') }}" rel="stylesheet">
    {% endblock %}
    {% endblock %}


{% block body %}

    {% for exercice in exercices %}
    <h2>{{ exercice.name }}</h2>
    <img src="{{ exercice.gif }}">
    <p>{{ exercice.description }}</p>

        <hr>
        <hr>
    {% endfor %}


{% endblock %}