{% extends 'baseUser.html.twig' %}


{% block body %}

     Votre Prenom : <h1>{{ profils.name }}</h1>
    Votre Nom<h1>{{ profils.lastname }}</h1>
    Votre poids<h1>{{ profils.weight }} Kg</h1>
    Votre taille<h1>{{ profils.height }} Cm</h1>




{% endblock %}